.hvigor/
.idea/
build/
oh_modules/
oh-package-lock.json5
local.properties
build-profile.local.json5
entry/build/
entry/src/main/resources/rawfile/flutter_assets/
entry/oh-package-lock.json5
har/
keystore/
*.hap
*.har
